In [1]:
import pandas as pd
import numpy as np

In [31]:
df=pd.read_table('CellMaker_raw.txt')

In [32]:
df.iloc[0:100,:]

,speciesType,tissueType,UberonOntologyID,cancerType,cellType,cellName,CellOntologyID,cellMarker,geneSymbol,geneID,proteinName,proteinID,markerResource,PMID,Company
0,Human,Kidney,UBERON_0002113,Normal,Normal cell,Proximal tubular cell,NaN,Intestinal Alkaline Phosphatase,ALPI,248,PPBI,P09923,Experiment,9263997,NaN
1,Human,Liver,UBERON_0002107,Normal,Normal cell,Ito cell (hepatic stellate cell),CL_0000632,Synaptophysin,SYP,6855,SYPH,P08247,Experiment,10595912,NaN
2,Human,Endometrium,UBERON_0001295,Normal,Normal cell,Trophoblast cell,CL_0000351,CEACAM1,CEACAM1,634,CEAM1,P13688,Experiment,10751340,NaN
3,Human,Germ,UBERON_0000923,Normal,Normal cell,Primordial germ cell,CL_0000670,VASA,DDX4,54514,DDX4,Q9NQI0,Experiment,10920202,NaN
4,Human,Corneal epithelium,UBERON_0001772,Normal,Normal cell,Epithelial cell,CL_0000066,KLF6,KLF6,1316,KLF6,Q99612,Experiment,12407152,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Human,Blood vessel,UBERON_0001981,Normal,Normal cell,Mesenchymal stromal cell,CL_0000134,CD90,THY1,7070,THY1,P04216,Experiment,25244528,NaN
96,Human,Liver,UBERON_0002107,Normal,Normal cell,Hepatoblast,CL_0005026,"CD45, CD71, DLK1, PDGFR-alpha, TER119","PTPRC, TFRC, DLK1, PDGFRA, NA","5788, 7037, 8788, 5156, NA","PTPRC, TFR1, DLK1, PGFRA, NA","P08575, P02786, P80370, P16234, NA",Experiment,24238062,NaN
97,Human,Liver,UBERON_0002107,Normal,Normal cell,Mesenchymal cell,CL_0008019,"CD45, CD71, DLK1, PDGFR-alpha, TER119","PTPRC, TFRC, DLK1, PDGFRA, NA","5788, 7037, 8788, 5156, NA","PTPRC, TFR1, DLK1, PGFRA, NA","P08575, P02786, P80370, P16234, NA",Experiment,24238062,NaN
98,Human,Liver,UBERON_0002107,Normal,Normal cell,Endothelial cell,CL_0000115,"CD45, CD71, DLK1, FLK1, TER119","PTPRC, TFRC, DLK1, KDR, NA","5788, 7037, 8788, 3791, NA","PTPRC, TFR1, DLK1, VGFR2, NA","P08575, P02786, P80370, P35968, NA",Experiment,24238062,NaN
99,Human,Liver,UBERON_0002107,Normal,Normal cell,Hematopoietic cell,CL_0000988,CD45,PTPRC,5788,PTPRC,P08575,Experiment,24238062,NaN

In [33]:
df.shape

(4123, 15)

In [34]:
df.loc[0,['geneSymbol']][0]

'ALPI'

In [35]:
len(df.loc[0,['geneSymbol']][0])

4

In [41]:
b=[]
for i in range(0,len(df)):
    if type(df.loc[i,'geneSymbol']) is float:
        b.append(i)
b

[64,
 65,
 66,
 101,
 214,
 332,
 483,
 490,
 498,
 524,
 525,
 672,
 688,
 689,
 725,
 727,
 795,
 815,
 868,
 872,
 922,
 945,
 1042,
 1045,
 1070,
 1086,
 1215,
 1260,
 1366,
 1394,
 1496,
 1524,
 1525,
 1779,
 1850,
 1854,
 1856,
 1883,
 1993,
 2187,
 2253,
 2254,
 2255,
 2256,
 2381,
 2458,
 2753,
 3557,
 3558,
 3932]

In [43]:
df1=df.drop(index=b)
len(df1)

4073

In [78]:
df1.iloc[300,8]

'CD44, NANOG'

In [79]:
a=np.zeros((4073))
for i in range(0,len(df1)):
    for j in range(0,len(df1.iloc[i,8])):
        if df1.iloc[i,8][j]==',':
            a[i]=a[i]+1

In [80]:
b=[]
for i in range(0,len(a)):
    if a[i]>70:
        b.append(i)

In [81]:
b

[3024,
 3155,
 3176,
 3241,
 3361,
 3554,
 3558,
 3559,
 3562,
 3596,
 3597,
 3598,
 3599,
 3600,
 3601,
 3604,
 3605,
 3606,
 3607,
 3608,
 3609,
 3620,
 3621,
 3623,
 3626,
 3628,
 3629,
 3659,
 3660,
 3663,
 3664,
 3665,
 3666,
 3682,
 3683,
 3684,
 3685,
 3703,
 3714,
 3715,
 3716,
 3717,
 3718,
 3719,
 3720,
 3721,
 3722,
 3723,
 3724,
 3725,
 3726,
 3727,
 3728,
 3729,
 3732,
 3742,
 3743,
 3744,
 3749,
 3750,
 3751,
 3755,
 3758,
 3759,
 3787,
 3788,
 3795,
 3796,
 3798,
 3806,
 3811,
 3812,
 3821,
 3822,
 3824,
 3826,
 3827,
 3828,
 3829,
 3830,
 3831,
 3832,
 3833,
 3834,
 3835,
 3836,
 3837,
 3838,
 3839,
 3858,
 3859,
 3860,
 3872,
 3874,
 3875,
 3876,
 3879,
 3880,
 3881,
 3927,
 3928,
 3930,
 3931,
 3933,
 3934,
 3955,
 3956,
 3976,
 3978,
 4048,
 4049,
 4050,
 4051,
 4052,
 4053,
 4054,
 4062,
 4070]

In [19]:
b=[]
for i in range(0,len(a)):
    if a[i]>70:
        b.append(i)

In [89]:
len(b)

118

In [86]:
df2=df1
df2.index
df2.index=range(0,4073)
df2

,speciesType,tissueType,UberonOntologyID,cancerType,cellType,cellName,CellOntologyID,cellMarker,geneSymbol,geneID,proteinName,proteinID,markerResource,PMID,Company
0,Human,Kidney,UBERON_0002113,Normal,Normal cell,Proximal tubular cell,NaN,Intestinal Alkaline Phosphatase,ALPI,248,PPBI,P09923,Experiment,9263997,NaN
1,Human,Liver,UBERON_0002107,Normal,Normal cell,Ito cell (hepatic stellate cell),CL_0000632,Synaptophysin,SYP,6855,SYPH,P08247,Experiment,10595912,NaN
2,Human,Endometrium,UBERON_0001295,Normal,Normal cell,Trophoblast cell,CL_0000351,CEACAM1,CEACAM1,634,CEAM1,P13688,Experiment,10751340,NaN
3,Human,Germ,UBERON_0000923,Normal,Normal cell,Primordial germ cell,CL_0000670,VASA,DDX4,54514,DDX4,Q9NQI0,Experiment,10920202,NaN
4,Human,Corneal epithelium,UBERON_0001772,Normal,Normal cell,Epithelial cell,CL_0000066,KLF6,KLF6,1316,KLF6,Q99612,Experiment,12407152,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4068,Human,Embryo,UBERON_0000922,Normal,Normal cell,8-cell stage cell (Blastomere),CL_0000353,"C11orf48, C19orf53, DHX9, DIABLO, EIF1AD, EIF4...","LBHD1, C19orf53, DHX9, DIABLO, EIF1AD, EIF4G1,...","79081, 28974, 1660, 56616, 84285, 1981, 26017,...","LBHD1, L10K, DHX9, DBLOH, EIF1A, IF4G1, FA32A,...","Q9BQE6, Q9UNZ5, Q08211, Q9NR28, Q8N9N8, Q04637...",Single-cell sequencing,23892778,NaN
4069,Mouse,Embryo,UBERON_0000922,Normal,Normal cell,8-cell stage cell (Blastomere),CL_0000353,"Abcf1, Cdc37, Diablo, Eif1ad, Eif4g1, Fam32a, ...","Abcf1, Cdc37, Diablo, Eif1ad, Eif4g1, Fam32a, ...","224742, 12539, 66593, 69860, 208643, 67922, 75...","ABCF1, CDC37, DBLOH, EIF1A, IF4G1, FA32A, KDM5...","Q6P542, Q61081, Q9JIQ3, Q3THJ3, Q6NZJ6, Q9CR80...",Single-cell sequencing,23892778,NaN
4070,Human,Embryo,UBERON_0000922,Normal,Normal cell,Morula cell (Blastomere),CL_0000360,"ADCK1, AGL, AIMP1, AKAP12, ARPC3, ATP1B3, ATP5...","ADCK1, AGL, AIMP1, AKAP12, ARPC3, ATP1B3, NA, ...","57143, 178, 9255, 9590, 10094, 483, NA, 586, 9...","ADCK1, GDE, AIMP1, AKA12, ARPC3, AT1B3, AT5F1,...","Q86TW2, P35573, Q12904, Q02952, O15145, P54709...",Single-cell sequencing,23892778,NaN
4071,Mouse,Embryo,UBERON_0000922,Normal,Normal cell,Morula cell (Blastomere),CL_0000360,"Aimp1, Atp5f1, Atp5h, Bcat1, Bin1, Ccbl2, Cct5...","Aimp1, Atp5f1, Atp5h, Bcat1, Bin1, Kyat3, Cct5...","13722, 11950, 71679, 12035, 30948, 229905, 124...","AIMP1, AT5F1, ATP5H, BCAT1, BIN1, KAT3, TCPE, ...","P31230, Q9CQQ7, Q9DCX2, P24288, O08539, Q71RI9...",Single-cell sequencing,23892778,NaN
4072,Human,Brain,UBERON_0000955,oligodendroglioma,Cancer cell,Cancer stem cell,NaN,"ASCL1, BOC, CCND2, CD24, CHD7, EGFR, NFIB, SOX...","ASCL1, BOC, CCND2, CD24, CHD7, EGFR, NFIB, SOX...","429, 91653, 894, 100133941, 55636, 1956, 4781,...","ASCL1, BOC, CCND2, CD24, CHD7, EGFR, NFIB, SOX...","P50553, Q9BWV1, P30279, P25063, Q9P2D1, P00533...",Single-cell sequencing,27806376,NaN

In [88]:
df3=df2.drop(index=b)
len(df3)

3955

In [90]:
df3.to_csv('CellMarker_filtered.csv')